body {
    font-family: "Outfit", sans-serif;
    background-color: #001D3D;
    color: #F5D04C;
    height: 100%;
    margin: 0;
}

.hidden {
  display: none;
}


.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.rowOne {
    display: flex;
    padding: 5vh;
}

.rowTwo
{
    display: flex;
    flex-direction: column;
}

.selectPic {
    display: flex;
    justify-content: center;
    gap: 10vh;
}

img {
    width: 15vh;
    height: 15vh;
    padding: 4vh;
}

.rowThree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-size: 3rem;
    padding-bottom: 3vh;
}

.symbolSelect {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: auto;
    align-items: flex-start;
}

.symbolsRowOne {
    display: flex;
    gap: 1vh;
}

.symbols, #restart {
    color: #F5D04C;
    font-size: 3rem;
    border: none;
    background-color: transparent;
    font-weight: bold;
    padding: 0;
}

#restart, #score {
    visibility: hidden;
}

.symbols:hover, #restart:hover
{
    color: #EDEDED;
}

#results {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 0;
}